*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.display{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.display__left{
    flex: 0.2;
    background: lightgrey;
    padding: 40px;
    min-height: 100vh;
}
.display__menu{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.display__menu a{
    margin: 5px 0;
}

.display__right{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    background: #eee;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.display__table{
    width: 100%;
    background: #fff;
    padding: 30px;
}

.display__table__top{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eee;
    padding: 10px 0;
    margin-bottom: 20px;
}
.display__table__top select, .display__table__top input{
    width: 250px;
}
.display__title{
    margin-bottom: 60px;
    font-size: 40px;
    color: rgb(182, 34, 8);
    font-weight: 700;
}

.active{
    display: block !important;
}
.add__form{
    width: 100%;
    background: #fff;
    padding: 30px;
}